# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.dvi
*.nav
*.snm
*.vrb

# VS Code settings (optional, but good practice if settings are personal)
.vscode/